@import 'bootstrap/dist/css/bootstrap.css';
/* @import 'react-bootstrap-sidebar-menu'; */

html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body,
.flex-body {
  display: flex;
  flex: 1;
  /* no need anymore to deal with height/width */
  flex-direction: column;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color:rgb(45, 103, 161);
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  display: flex;
  flex-direction: column;
  flex: 1;
}

* {
  box-sizing: border-box;
}

.b-white {
  background-color: white;
  border-radius: 10px;
}

#three-dot-nav-dropdown.dropdown-toggle.nav-link::after {
  display: none !important;
}

.icon-button {
  padding: 10px;
}

.icon-button:hover {
  background-color: lightgray;
  border-radius: 15px;
}

.cred-image {
  height: auto;
}

.left-panel {
  position: fixed;
}

.right-panel {
  height: 100%;
  width: 100%;
  max-height: 100% !important;
  max-height: 100% !important;
  overflow-y: auto;
  flex: 1;
  margin-left: 50%;
}

.show-front {
  z-index: 9999;
}

.show-behind {
  z-index: 0 !important;
}

.white-icon {
  color: lightgray !important;
  transform: scale(1.2);
}

.contact-info {
  display: flex;
  justify-content: between;
}

.bg-image {
  opacity: 25;
}

.sidebar-menu {
  color:whitesmoke;
  background-color:rgb(8, 32, 67);
}

.approved {
  background-color: green;
}

.reject {
  background-color: red;
}

.physician-card {
  background-color: rgb(78, 76, 76)
}

.card-btn {
  display: flex;
  justify-content: space-between;
}

.view-btn {
  background-color: white;
  color: black;
  border: white;
}

.edit-btn {
  background-color: white;
  color: black;
  border: white;
}

.delete-btn {
  background-color: white;
  color: black;
  border: white;
}

.app-name{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.heading{
display: flex;
justify-content: center;
}

.profile-text{
  color:black;
}