@import 'bootstrap/dist/css/bootstrap.css';

html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body,
.flex-body {
  display: flex;
  flex: 1;
  /* no need anymore to deal with height/width */
  flex-direction: column;
  background-color: rgb(63, 165, 238);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  display: flex;
  flex-direction: column;
  flex: 1;
}

* {
  box-sizing: border-box;
}

.navbar-fixed-top {
  background-color: rgb(9, 92, 235);
}

.b-white {
  background-color: white;
  border-radius: 10px;
}

#three-dot-nav-dropdown.dropdown-toggle.nav-link::after {
  display: none !important;
}

.icon-button {
  padding: 10px;
}

.icon-button:hover {
  background-color: lightgray;
  border-radius: 15px;
}

.cred-image {
  height: auto;
}

.left-panel {
  position: fixed;
}

.right-panel {
  height: 100%;
  width: 100%;
  max-height: 100% !important;
  max-height: 100% !important;
  overflow-y: auto;
  flex: 1;
  margin-left: 50%;
}

.show-top {
  z-index: 9999;
}

.cell {
  vertical-align: middle;
}

.white-icon {
  color: lightgray !important;
  transform: scale(1.2);
}
